body{
    margin: 0;
    font-family: 'Oswald', 'Courier Prime', 'Bitter', serif;
}
.navbar{
    display: flex;
    position: 0 0;
    position: fixed;
    flex: 1;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    height: 5rem;
}
.logo{
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 20rem;
}
.logo p{
    color: #000814;
}
.links{
    display: flex;
    text-align: center;
    width: 40rem;
}
.links a{
    margin: auto;
    text-decoration: none;
    color: #000814;
}
.header{
    height: 50rem;
    background-color: #184e77;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(roboticsheader.png) no-repeat center center fixed; 
    box-shadow: inset 0 0 0 50vw rgba(0, 16, 61, 0.4);  
    background-size: cover; 
}
.header h1{
    margin: 0;
    color: white;
    padding-top: 7rem;
}
.header p{
    color: #f4f1de;
}
.main-title{
    font-size: 400;
    color: purple;
    text-align: center;
}
.text{
    margin: 2rem;
}
.card-container{
    background-color: lightgray;
}
.card-title{
    padding-top: 2rem;
    padding-left: 2rem;
}
.cards{
    display: flex;
    flex-direction: row;
}
.card{
    height: 20rem;
    width: 45%;
    margin: 2rem;
    margin-top: 0;
    background-color: #023e8a;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
