body{
    margin: 0;
    font-family: 'Oswald', 'Courier Prime', 'Bitter', serif;
    background-color: black;
    color: #ffd60a;
}
model-viewer{
    width: 40rem;
    height: 30rem;
    margin: 0, auto;
}
.back-container{
    padding: 1rem;
    width: 7rem;
}
.back{
    transition: all .5s ease;
    text-decoration: none;
    color:#000814;
    background-color: aliceblue;
    padding: 0.2rem;
    border-style: solid;
    border-color: #000814;
    border-width: 0.08rem;
}
.back:hover{
    color: aliceblue;
    background-color: #000814;
    border-color:aliceblue;
}
.body{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}
.content{
    padding-top: 10rem; 
    animation: fadein 5s;
    animation-delay: 1s;
}
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.content h1{
    font-size: 5rem;
}
.content p{
    font-size: 2.5rem;
}
.model{
    padding-top: 9rem
}